body{
			background: radial-gradient(#F9E79F  ,#F7DC6F   ,#F1C40F);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
}

h1{
		position:absolute;
	top:-30px;;
	right: 40%;
	font-size: 50px;
}

.textPerfil{
	position:relative;
	margin-top: -1%;
	left:4%;
	font-family:helvetica;
}

h3{
	font-family:Courier New;
	font-size:25px;
	margin-top:-1%;
	margin-left:20%;
}

.textPerfil2{
				position:absolute;
	margin-top: -1%;
	left:4%;
	font-family:helvetica;
}

.email{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:250px;
	padding:6px;
	position:absolute;
	top:70%;
	left:8%;
}

.password{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:150px;
	padding:6px;
	position:absolute;
	top:70%;
	left:32%;
}

.newEmail{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:250px;
	padding:6px;
	position:absolute;
	top:70%;
	left:48.2%;
}

.newPass{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:150px;
	padding:6px;
	position:absolute;
	top:70%;
	left:74.2%;
}

.name{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:250px;
	padding:6px;
	position:absolute;
	top:76%;
	left:8%;
}

.dni{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:150px;
	padding:6px;
	position:absolute;
	top:76%;
	left:32%;
}

.room{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:150px;
	padding:6px;
	position:absolute;
	top:76%;
	left:48.2%;
}

.tlf{
	color:black;
	font-family: monospace;
	font-weight : bold;
	width:150px;
	padding:6px;
	position:absolute;
	top:76%;
	left:64.4%;
}

.botonActualizar{
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding:6px;
	font-family: helvetica;
	font-weight : bold;
	color:dimgray;
	background-color:#E8F8F5 ;
	width:150px;
	position:absolute;
	top:76%;
	left:81%;
}

.atras{
	position:absolute;
	bottom:3%;
	left:2%;
}